<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation</title>
    </head>
    <body>
        <h2>Confirmation</h2>
        <br>
        {% if message %}
            {{ message }}
        
        {% else %}
            {{ Product_name }}
            <br>
            {{ Product_price }}
            <br>
            {{ url }}
            <br>

            {{ limit }}
            {{ message }}

            <form method='POST'>
                {% csrf_token %} 
                <input type='submit' value='Go' name='_go'>
            </form>        
        {% endif %}

    </body>


</html>